/* INDEX STYLE */

body{
	font-family: 'PT Sans',sans-serif;
	background-color: #373c56;
}
#menu{
	width: 35px;
	height: 30px;
	margin: 30px 0 20px 20px;
	cursor: pointer;
}
.bar{
	height: 5px;
	width: 100%;
	background-color: white;
	display: block;
	border-radius: 5px;
	transition: 0.3s ease;
}
#bar1{
	transform: translateY(-4px);
}
#bar3{
	transform: translateY(4px);
}
.nav li a{
	color: #fff;
	text-decoration: none;
}
.nav li a:hover{
	font-weight: bold;
}
.nav li{
	list-style: none;
	padding: 16px 0;
}
.nav{
	padding: 0;
	margin: 0 20px;
	transition: 0.3s ease;
	display: none;
}
.menu-bg, #menu-bar{
	top: 0;
	left: 0;
	position: absolute;
}
.menu-bg{
	z-index: 1;
	width: 0;
	height: 0;
	margin: 30px 0 20px 20px;
	background: black;
	border-radius: 50%;
	transition: 0.3s ease;
}
#menu-bar{
	z-index: 2;	
}
.change-bg{
	width: 550px;
	height: 540px;
	transform: translate(-60%,-30%);
}
.change .bar{
	background-color: white;
}
.change #bar1{
	transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3{
	transform: translateY(-6px) rotate(45deg);
}
.change #bar2{
	opacity: 0;
}
.change {
	display: block;
}
.carousel-item {
	height: 100vh;
	min-height: 300px;
}
.carousel-caption {
	bottom: 270px;
}
.carousel-caption h5 {
	font-size: 60px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
	font: normal normal bold 65px/79px Helvetica Neue;
}
.carousel-caption p {
	width: 75%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
	text-align: center;
	font: normal normal normal 32px/44px Helvetica Neue;
	letter-spacing: 3.2px;
	margin-bottom: 15px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: #fff;
}
.navbar-light .navbar-nav .nav-link {
	color: #fff;
}
.navbar-toggler {
	background: #fff;
}
.navbar-nav {
	text-align: center;
}
.nav-link {
	padding: .2rem 1rem;
}
.nav-link.active, .nav-link:focus {
	color: #fff;
}

.p {
	text-align: center;
	font: normal normal normal 32px/44px Helvetica Neue;
	letter-spacing: 3.2px;
	margin-bottom: 350px;
}

.btn-grad { background-image: linear-gradient(to right, #E55D87 0%, #5FC3E4  51%, #E55D87  100%) }
.btn-grad {
	margin: 10px;
	padding: 25px 45px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;            
	border-radius: 10px;
	display: block;
	background: transparent linear-gradient(90deg, #1FE1E9 0%, #5E33D1 34%, #D34848 65%, #FFB33F 100%) 0% 0% no-repeat padding-box;
	border-radius: 79px;
	opacity: 1;
	top: 669px;
	left: 818px;
	width: 284px;
	height: 79px;
	margin-bottom: -100px;
	margin-left: 390px;
	font: normal normal bold 23px/28px Helvetica Neue;
}

.btn-grad:hover {
	background-position: right center; /* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}

.navbar-light .navbar-brand {
	color: #fff;
	font-family: Helvetica;
	font: normal normal normal 48px/57px Helvetica Neue;
	letter-spacing: 4.8px;
	opacity: 1;
	margin-bottom: 120px;
	margin-left:51px;
}


/* What is it page STYLE*/
.btn-white {
	margin: 10px;
	padding: 25px 45px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: #D34848;            
	border-radius: 10px;
	display: block;
	background: white;
	border-radius: 79px;
	opacity: 1;
	top: 669px;
	left: 818px;
	width: 284px;
	height: 79px;
	margin-bottom: -150px;
	margin-left: 50px;
	font: normal normal bold 23px/28px Helvetica Neue;
}

.btn-white2 {
	margin: 10px;
	padding: 25px 45px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: #D34848;            
	border-radius: 10px;
	display: block;
	background: white;
	border-radius: 79px;
	opacity: 1;
	top: 669px;
	left: 400px;
	width: 404px;
	height: 79px;
	margin-bottom: 100px;
	margin-left: 800px;
	margin-top: 6px;
	font: normal normal bold 23px/28px Helvetica Neue;
	
}

.sound1-image {
	width: 100px;
	top: 94px;
	left: 900px;
	width: 254px;
	height: 397px;
	background: transparent url(img/medium17.png) 0% 0% no-repeat padding-box;
	position: absolute;
}
.sound2-image {
	top: 150px;
	left: 1100px;
	width: 254px;
	height: 397px;
	position: absolute;
}
.root-what-is-it {
	background-color: #D34848;
}

.text {
	width: 75%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
	text-align: left;
	font: normal normal normal 32px/44px Helvetica Neue;
	letter-spacing: 3.2px;
	margin-bottom: 15px;
	margin-left:0px;
}

p.p-what-is-it {
	text-align: left;
	font: normal normal normal 32px/44px Helvetica Neue;
	letter-spacing: 3.2px;
	margin-bottom: 0px;
	margin-left:0px;
	
}



/* MEDIA QUERY  */
/* For mobile phones: */
[class*="col-"] {
	width: 100%;
}

@media only screen and (min-width: 600px) {
	/* For tablets: */
	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
	/* For desktop: */
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}

@media screen and (max-width: 425px) {
	header h1 {
		font-size: 16px;
	}
}
@media screen and (max-width: 360px) {
	nav.menu {
		width: 100%;
		left: -100%; 
	} 
}

@media screen and (max-width:1183px) {
	.btn-grad {
		margin-left:276px;
		
	}
}

