/* INDEX STYLE */
.carousel-item {
	height: 100vh;
	min-height: 300px;
	
}
.carousel-caption {
	bottom: 270px;
}
.carousel-caption h5 {
	font-size: 60px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
	font: normal normal bold 65px/79px Helvetica Neue;
}
.carousel-caption p {
	width: 75%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
	text-align: center;
	font: normal normal normal 32px/44px Helvetica Neue;
	letter-spacing: 3.2px;
	margin-bottom: 15px;
}
.navbar-light .navbar-brand {
	color: #fff;
	font-family: Helvetica;
	font: normal normal normal 48px/57px Helvetica Neue;
	letter-spacing: 4.8px;
	opacity: 1;
	margin-bottom: 10px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: #fff;
}
.navbar-light .navbar-nav .nav-link {
	color: #fff;
}
.navbar-toggler {
	background: #fff;
}
.navbar-nav {
	text-align: center;
}
.nav-link {
	padding: .2rem 1rem;
}
.nav-link.active, .nav-link:focus {
	color: #fff;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
}

.p {
text-align: center;
font: normal normal normal 32px/44px Helvetica Neue;
letter-spacing: 3.2px;
margin-bottom: 350px;
}

.btn-grad {background-image: linear-gradient(to right, #E55D87 0%, #5FC3E4  51%, #E55D87  100%)}
.btn-grad {
   margin: 10px;
   padding: 25px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   border-radius: 10px;
   display: block;
   background: transparent linear-gradient(90deg, #1FE1E9 0%, #5E33D1 34%, #D34848 65%, #FFB33F 100%) 0% 0% no-repeat padding-box;
   border-radius: 79px;
   opacity: 1;
   top: 669px;
   left: 818px;
   width: 284px;
   height: 79px;
   margin-bottom: 100px;
   margin-left: 720px;
   font: normal normal bold 23px/28px Helvetica Neue;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

 i.menu_icon {
	color:white;
	font-size: 40px;
	padding-top: 5px;
	transition: .2s ease;
}
header > .top a.menu_icon:hover i {
	color: #fff;
}
nav.menu {
    width: 300px;
    padding-top: 8rem;
	background-color: black;
	position: absolute;
	left: -300px;
	transition: .3s all;
}
nav.menu > a {
    display: block;
    padding: 5px;
    margin: 15px 0 0px 20px;
    color: white;
    text-transform: uppercase;
}

 .menu_show {
	left: 0!important;
}


 /* What is it page STYLE*/
 .btn-white {
	margin: 10px;
	padding: 25px 45px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: #D34848;            
	border-radius: 10px;
	display: block;
	background: white;
	border-radius: 79px;
	opacity: 1;
	top: 669px;
	left: 818px;
	width: 284px;
	height: 79px;
	margin-bottom: 100px;
	margin-left: 50px;
	font: normal normal bold 23px/28px Helvetica Neue;
  }

.sound1-image {
	width: 100px;
}
.root-what-is-it {
	background-color: #D34848;
}

.text {
	width: 75%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
	text-align: left;
	font: normal normal normal 32px/44px Helvetica Neue;
	letter-spacing: 3.2px;
	margin-bottom: 15px;
	margin-left:10px;
}

p.p-what-is-it {
	text-align: left;
	font: normal normal normal 32px/44px Helvetica Neue;
	letter-spacing: 3.2px;
	margin-bottom: 50px;
	margin-left:0px;
}




/* MEDIA QUERY  */
@media screen and (max-width: 425px) {
	header h1 {
		font-size: 16px;
	}
}
@media screen and (max-width: 360px) {
	nav.menu {
		width: 100%;
		left: -100%; 
	} */
/* }

 @media screen and (max-width:1183px) {
	.btn-grad {
		 margin-left:276px;

	}
}
